@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Delegation.Blazor.Server</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>*@

<MudPaper Width="250px" Class="py-3" Elevation="0">
    <MudNavMenu>
        <MudNavLink Href="">Home</MudNavLink>
        <MudNavLink Href="counter">Counter</MudNavLink>
        <MudNavLink Href="fetchdata">Fetch data</MudNavLink>
    </MudNavMenu>
</MudPaper>


