@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>

<body>
    
    <div id="upload_xls">
        <input v-on:change="on_file_change" type="file" ref="file" multiple accept=".xls, .xlsx" />
        </p>
        <button v-on:click="upload_button" type="button" class="btn btn-success">上傳</button>
    </div>

        <script>
            new Vue({
                el: '#upload_xls',
                data:
                {
                    file: ''                   
                },
                methods:
                {                   
                    on_file_change: function ()
                    {
                        console.log('on_file_change')
                        this.file = this.$refs.file.files[0];
                    },

                    upload_button: function ()
                    {
                        console.log('click');
                        let formData = new FormData();
                        formData.append('file', this.file); //files為api之參數名稱
                        axios.post("/api/File/UploadXls", formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                              })
                            .then(function(result){
                                console.log('Yes');
                                console.log(result.data.value + ' ' + result.data.errorCode);
                            })
                            .catch(function(error){ 
                                console.log('NO');
                            });
                    }
                }
            })

        </script>
</body>
</html>