@{
    ViewData["Title"] = "Home Page";
}

    <form method="post" enctype="multipart/form-data" action="/home/Upload">
        <input type="file" name="files" multiple accept=".xls, .xlsx" />
        <br />
        <input type="submit" value="Upload" />
    </form>